{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SPN2 Google Sheet - Web</title>
        <link rel="stylesheet" href='{% static "assets/global/css/bootstrap.min.css" %}'>
        <link rel="stylesheet" href='{% static "assets/global/css/bootstrap-extend.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
        <script src='{% static "assets/global/vendor/jquery/jquery.min.js" %}'></script>
        <script src='{% static "assets/global/vendor/bootstrap/bootstrap.min.js" %}'></script>
    </head>
    <body style="text-align: center;">
        <form action="/archive" method="get">
            <button type="submit" class="btn btn-primary" id="btn_archive_urls_from_sheet">Archive URLs from Google Sheet</button>
        </form>
    </body>
</html>
