body {
    padding-top: 0px;
    height: auto;
}
.container {
    width: 50%;
    text-align: center;
}
#access_key {
    margin-top: 20px;
}
#secret_key {
    margin-top: 20px;
}
#google_sheet_url {
    margin-top: 20px;
}
#btn_archive {
    margin-top: 50px;
}
#btn_archive_urls_from_sheet {
    margin-top: 100px;
}
.description {
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
}
.progress-status {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.progress-url {
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
}
.progress-container {
    height: 130px;
}
.progress {
    display: none;
}
